.clearfix{overflow: auto;}

.mbody{
	position: relative;	
    width: 800px;
    height: 500px;
    margin: 14% 0 0 28%;
    background: linear-gradient(0deg,#000,#262626);

}
.menubar{
	position: absolute;
	margin-top: 50px;
	margin-left: 30px;
	width: 700px;
    height: 400px;
	box-shadow: 0 5px 50px rgba(0,0,0,1);
	padding:20px;
	
}
.menubar ul{
	margin: 10px 0;
	padding: 0px;
}
.menubar ul li{
	position: relative;
	list-style:none;
	border-bottom: 1px solid #262626;
	text-align: center;
}
.menubar ul li a{
	text-decoration: none;
	padding:10px 20px;
	color: #fff;		
	text-align: center;
	font-size: 25px;
	display: block;

}
.menubar ul li a:hover{
	background: red;
}
.login{
	width: 350px;
	height: 420px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	position: absolute;
	margin: 5% 18% 0% 19%;
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 15px;

}
div.login img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left:calc(50% - 50px);
}
h1{
	margin:0;
	padding: 0;
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}
div.login p{
	font-weight: bold;
	margin: 0;
	padding: 0;
}
div.login input{
	width: 100%;
	margin-bottom: 20px;
}
div.login input[type="text"],div.login input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-style: 16px;
}
div.login button[type="submit"]{
	position: absolute;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-family: serif;
	font-size: 20px;
	width: 83%;
	margin-bottom: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	background: linear-gradient(90deg,#fb2525,#03a9f4,#fb2525,#fb2525,#f441a5,#ffeb3b,#fb2525);
	background-size:300%;
	z-index: 1;
	margin-top: 30px;
}
div.login button[type="submit"]:hover
{
	animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}
div.login button[type="submit"]:before
{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom:-5px;
	z-index: -1;
	background: linear-gradient(90deg,#fb2525,#03a9f4,#f441a5,#ffeb3b,#fb2525);
	background-size: 400%;
	border-radius: 20px;
	opacity: 0;
	transition: 0.5s;
}
div.login button[type="submit"]:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}

div.error{
	background: red;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	padding: 7px;
	
}

header{
	background: linear-gradient(0deg,#262626,#000,#262626);
	overflow: auto;
	padding: 20px;	
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	transition: .5s;
	position: fixed;

}
@keyframes animate{
  0%
  {
    background-position: left 0px top 0px;
  }
  40%
  {
    background-position: left 800px top 0px;
  } 
  80%
  {
    background-position: left 1800px top 0px;
  } 
  100%
  {
    background-position: left 2400px top 0px;
  } 
}
header .name{
	padding-left: 8px;

}
header .back a:hover{
	background: red;
	color: #000;

}
header .back a{
	float: left;
	background-color: #4a4a4a;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin-top: 5px;
	padding:10px;
}
header .loggedin{
	margin-top: 16px;
	color: #00db00;
	float: right;
}
header .loggedin a{

	background: red;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}
header .loggedin a:hover{
	
	color: blue;
}
.main{  
	background:rgba(0,0,0,0.8);
	color: #fff;
	width: 80%;	
	padding: 40px 30px;
	border-radius: 15px;
	margin:10% 0% 0% 23%;
	height: 590px;
	
}
.main h1{
	margin-bottom: 20px;
	font-size: 50px;
	color: white;
	float: left;

}

.main a{
	float: right;
	color: white;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	background-color: red;
	border-radius: 10px;
}
.main a:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.main span{
	font-size: 20px;
	float: right;
}
table.list {
	color: white;
}
table.list th{
	background: #aaa;
	text-align: left;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
}
table.list td{
	font-size: 25px;

}
table.list th,table.list td{
	padding: 10px;
	border-bottom:1px solid #aaa ;
}
.add{
	background:rgba(0,0,0,0.8);
	color: #fff;
	width: 50%;	
	height: 400px;
	padding: 40px 30px;
	border-radius: 15px;
	margin:14% 0% 0% 23%;
	overflow: auto;
}
form.adminform label{
	width: 30%;
	float: left;
	color: white;
	font-size: 20px;
}
form.adminform input{
	width: 60%;
}
form.adminform button{

	width: 120px;
	background: red;
	color: white;
	padding: 7px;
	border-radius: 10px;
}
form.adminform button:hover{
	background: #db6e00;
	color: black;
}
.add h2{
	margin-bottom: 40px;
	font-size: 50px;
	color: white;

}
.add h2 a{
	float: right;
	color: white;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	background-color: red;
	border-radius: 10px;
	font-size: 10px;
}
.add h2 a:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.add h2 span{
	font-size: 20px;
}
.add .errmsg{
	margin: 20px 0;
	color: red;
}
form.adminform input[type="text"],form.adminform input[type="password"]{
	
	border-bottom: 1px solid #fff;
	background-color: #262626;
	outline: none;
	height: 20px;
	color: #fff;
	font-style: 16px;

}
form.adminform p a{
	color: red;
	text-decoration: none;
	font-size: 20px;
}
form.adminform span button{

	width: 220px;
	background: red;
	color: white;
	padding: 7px;
	border-radius: 10px;
}
form.adminform span input[type="text"],form.adminform span input[type="password"]{
	
	border: none;
	border-bottom: 1px solid red;
	background-color: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-style: 16px;
}
div.abc{
	display: block;
	background-color: red;
}