/* menu */

.menubar{
    background-color:rgba(0,0,0,0.8);
    height: 100%;
    width: 250px;
    margin-top: 5px;
    overflow: hidden;   
}

.menubar a{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: left;
    padding: 12px 15px;
    list-style-type: none;
    color:white;
    font-size: 20px;
}

#menu{
    list-style-type: none;
    padding-top: 15px;
    
}

.menubar a:hover {
    background-color: rgba(93, 162, 241, 0.925);
    color: black;
}

a .active{
    color: rgba(243, 31, 31, 0.877);
    background-color: rgba(93, 162, 241, 0.925);
}
