/* <!-- footer --> */
footer{
    background-color: rgb(50, 50, 53);
    overflow: hidden;
}
#links{
    margin-top: 20px;
    margin-right: 10px; 
    color: #ffffff;
    float: right;
    text-align: right;
    overflow: hidden;
}
#links a{
    color: #ffffff;
    text-decoration: none;
    
}

#footlogo{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    
}
#links img{
    width: 60px;
    height: 30px;
}


#inform {
    color: #ffffff;
    overflow: hidden;
    margin-left: 10px;
}
#inform a {
    color: #da4343;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#inform p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}