
.movie-name{
	
	font-family:   ;
	color:white;
	text-align: center;
	
}

.rating{
	color:#CCFF90;
	
}

.img-responsive{
	margin: 50px 50px 0px 50px;
	border:4px solid green ;
	border-radius:10px;
	
	
}

.table1{
	margin-left: 15px;
	background-color:#424242; 
	overflow: scroll;
	width:750px;
	 
}


.movie_category{
	
	font-family:"Courier New", Courier, monospace;
	color:white;
	margin-left:0px;
	font-size: 160%
}

div.wrapper {
  width: 100%;
  overflow: auto;
}



